<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>   
        <add name="MyKey" 
             connectionString="cpPIRp7ZLf0RtIAb2r2qdxPqkmBB4G45jsa/iHhONdnOWslgpz9qb+QQgki4M+qOi++tLp6TqaM0R/kZ87otAWnaKpPy2RmeAp5Nu166zLP3eLcmPvN+TfOVHu2zFWLS"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>